.title-managers{
    font-weight: 700;
    font-size: 30px;
    color:goldenrod;
    width: 200px;
    position: relative;
    margin-bottom: 30px;
}
.managers-list{
    display: flex;
    flex-direction: column;
}
  .managers-block {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    width: 200px;
    height: 60px;
    margin-bottom: 25px;
    font-size: 18px;
    border-radius: 5px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    background-color:rgb(245, 231, 215, 0.3);
}
.managers-block.active{
    background-color:rgb(245, 231, 215, 0.7);
    color:white;
}
.managers-block:hover{
  background-color:rgb(245, 231, 215, 0.6);
}
.manager{
  display: none;
}
.manager.active{
  display: block;
}